body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
}

.hidden {
	display: none;
}

.ribbon {
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	height: 11em;
	width: 11em;
	z-index: 10;
}

.ribbon a {
	background-color: #f60;
	color: white;
	text-decoration: none;
	border: 1px dotted;
	padding: 0.2em 3em;
	text-align: center;
	position: absolute;
	display: block;
	width: 9.5em;
	height: 1.5em;
	top: 3em;
	right: -4em;
	text-shadow: 2px -1px 1px black;
	/* FF3.6+ */
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00),
		rgba(0, 0, 0, 0.15) );
	/* Chrome,Safari4+ */
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)
		), to(rgba(0, 0, 0, 0.15) ) );
	/* Chrome10+,Safari5.1+ */
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00),
		rgba(0, 0, 0, 0.15) );
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00),
		rgba(0, 0, 0, 0.15) );
	/* IE10+ */
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00),
		rgba(0, 0, 0, 0.15) );
	/* W3C */
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.00),
		rgba(0, 0, 0, 0.15) );
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

@media only screen and (max-width: 900px) , only screen and
	(max-device-width: 900px) {
	.ribbon {
		display: none;
	}
}

#commands,.game {
	text-align: center;
}

.game {
	padding-top: 4.5em;
}

.menu.active {
	top: 0;
}

.menu {
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
	top: -95%;
	top: -webkit-calc(-100% + 32px);
	top: -moz-calc(-100% + 32px);
	top: calc(-100% + 32px);
	cursor: pointer;
	background-color: #333;
	background-color: rgba(3, 3, 3, 0.66);
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
	z-index: 2;
}

.menu:after {
	bottom: 0.4em;
	color: white;
	content: "menu";
	left: 0;
	right: 0;
	text-align: center;
	position: absolute;
	text-transform: uppercase;
}

.menu button {
 	font-size: 1em; 
 	font-size: 4vmin; 
	margin: 45% 1em;
    margin: 42vh 4vmin; 
    padding: 1em 2em;
	color: white;
	text-shadow: 0 -2px 5px black;
	background-color: #0074cc;
	background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
	background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc),
		to(#0055cc) );
	background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
	background-image: -o-linear-gradient(top, #0088cc, #0055cc);
	background-image: linear-gradient(top, #0088cc, #0055cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc',
		endColorstr='#0055cc', GradientType=0 );
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=  false );
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border: 1px solid white;
}

.transitionable {
	-moz-transition: all 1s ease 0s;
	-webkit-transition: all 1s ease 0s;
	transition: all 1s ease 0s;
}

.row,.cell,.flip div {
	/* Webkit browsers, IE9+ */
	height: 11vm;
	/* W3C */
	height: 11vmin;
	/* Safari/Chrome, other WebKit */
	-webkit-box-sizing: border-box;
	/* Firefox, other Gecko */
	-moz-box-sizing: border-box;
	/* Opera/IE 8+ */
	box-sizing: border-box;
}

.row {
	margin: 0 auto;
}

.cell,.flip div {
	/* Webkit browsers */
	width: 11vm;
	/* W3C */
	width: 11vmin;
	/* Webkit browsers */
	height: 11vm;
	/* W3C */
	height: 11vmin;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cell {
	display: inline-block;
	text-align: center;
	perspective: 500px;
	cursor: pointer;
	/* Webkit browsers */
	font-size: 5vm;
	line-height: 11vm;
	/* W3C */
	font-size: 5vmin;
	line-height: 11vmin;
}

.flip {
	-moz-transform-style: preserve-3d;
	-moz-transform: rotateY(0deg);
	-moz-transition: all 1s ease 0s;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateY(0deg);
	-webkit-transition: all 1s ease 0s;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition: all 1s ease 0s;
}

.flip div {
	position: absolute;
	border: 1px solid #333333;
	backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	/* Old browsers */
	background: #7abcff;
	/* FF3.6+ */
	background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7abcff),
		color-stop(44%, #60abf8), color-stop(100%, #4096ee) );
	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
	/* IE10+ */
	background: -ms-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
	/* W3C */
	background: linear-gradient(to bottom, #7abcff 0%, #60abf8 44%, #4096ee 100%);
}

.front {
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	/* IE 8 support */
	z-index: -1;
}

.flagged .flip div { /* Old browsers */
	background: #fcf18f;
	/* FF3.6+ */
	background: url("../img/redFlag.svg") no-repeat,
		-moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
	/* Chrome,Safari4+ */
	background: url("../img/redFlag.svg") no-repeat,
		-webkit-gradient(linear, left top, left bottom, color-stop(0%, #7abcff),
		color-stop(44%, #60abf8), color-stop(100%, #4096ee) );
	/* Chrome10+,Safari5.1+ */
	background: url("../img/redFlag.svg") no-repeat,
		-webkit-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
	/* Opera 11.10+ */
	background: url("../img/redFlag.svg") no-repeat,
		-o-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
	/* IE10+ */
	background: url("../img/redFlag.svg") no-repeat,
		-ms-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
	/* W3C */
	background: url("../img/redFlag.svg") no-repeat,
		linear-gradient(to bottom, #7ABCFF 0%, #60ABF8 44%, #4096EE 100%);
	background-size: contain;
}

.revealed .flip {
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.revealed .flip .front { /* Old browsers */
	background: #f0f9ff;
	/* FF3.6+ */
	background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f9ff),
		color-stop(47%, #cbebff), color-stop(100%, #a1dbff) );
	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
	/* IE10+ */
	background: -ms-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
	/* W3C */
	background: linear-gradient(to bottom, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
	/* IE6-9 */
	z-index: 1;
}

.revealed .flip .trapped { /* Old browsers */
	background: #ff0000;
	/* FF3.6+ */
	background: url("../img/bomb.svg") no-repeat center 0,
		-moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
	/* Chrome,Safari4+ */
	background: url("../img/bomb.svg") no-repeat center 0,
		-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f9ff),
		color-stop(47%, #cbebff), color-stop(100%, #a1dbff) );
	/* Chrome10+,Safari5.1+ */
	background: url("../img/bomb.svg") no-repeat center 0,
		-webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
	/* Opera 11.10+ */
	background: url("../img/bomb.svg") no-repeat center 0,
		-o-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
	/* IE10+ */
	background: url("../img/bomb.svg") no-repeat center 0,
		-ms-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
	/* W3C */
	background: url("../img/bomb.svg") no-repeat center 0,
		linear-gradient(to bottom, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
	background-size: contain;
}